<div [formGroup]="formGroup">
  {{formGroupName}}
  <aff-radio-block-list class="tui-form__row"
                        formControlName="size"
                        [options]="pizzaSizeOptions"
  ></aff-radio-block-list>
  <aff-radio-block-list class="tui-form__row"
                        formControlName="borderSize"
                        [options]="borderSizeOptions"
  ></aff-radio-block-list>

  <h3 class="tui-text_h5 tui-space_top-4 tui-space_bottom-2">Toppings</h3>
  <aff-checkbox-list formArrayName="toppings"
                     [dictionary]="toppingsDictionary"
  ></aff-checkbox-list>
</div>
