<div [formGroup]="formGroup">
  <aff-radio-block-list class="tui-form__row"
                                   formControlName="size"
                                   [options]="pizzaSizeOptions"
  ></aff-radio-block-list>
  <aff-radio-block-list class="tui-form__row"
                                   formControlName="borderSize"
                                   [options]="borderSizeOptions"
  ></aff-radio-block-list>

  <h3>Toppings</h3>
  <aff-checkbox-list formArrayName="toppings"
                                [dictionary]="toppingsDictionary"
  ></aff-checkbox-list>
</div>
