<header tuiNavigationHeader>
  <button
    title="Menu"
    tuiIconButton
    tuiNavigationDrawer
    type="button"
    [(open)]="open"
  >
    <tui-data-list>
      <tui-opt-group
        *ngFor="let group of drawer | keyvalue"
        [label]="group.key"
      >
        <button
          *ngFor="let item of group.value"
          tuiOption
          type="button"
          (click)="open = false"
        >
          <img
            alt="icon"
            [src]="item.icon"
          />
          {{ item.name }}
        </button>
      </tui-opt-group>
      <tui-opt-group>
        <label tuiOption>
          <input
            size="s"
            tuiSwitch
            type="checkbox"
            [(ngModel)]="switch"
          />
          Dark mode
        </label>
      </tui-opt-group>
    </tui-data-list>
  </button>
  <hr />
  <button
    appearance="secondary-grayscale"
    iconStart="@tui.plus"
    tuiButton
    type="button"
  >
    Create
  </button>
  <button
    iconStart="@tui.bell"
    tuiIconButton
    type="button"
  >
    Notifications
    <tui-badge-notification />
  </button>
  <button
    iconStart="@tui.ellipsis"
    tuiIconButton
    type="button"
  >
    More
  </button>
  <tui-avatar src="AI" />
</header>
<div class="sidebar">
  <aside [tuiNavigationAside]="expanded">
    <h3>Documentation</h3>
    <a
      iconStart="@tui.book-open-text"
      tuiAsideItem
      [routerLink]="routes.Navigation"
    >
      Introduction
    </a>
    <hr>
    <h3>Modules</h3>
    <tui-aside-group>
      <button
        automation-id="forms-link"
        iconStart="@tui.list-checks"
        tuiAsideItem
        tuiChevron
        type="button"
      >
        Feature toggle
        <ng-template>
          <button
            tuiAsideItem
            type="button"
            routerLink="./feature-toggle/introduction"
          >
            Introduction
          </button>
        </ng-template>
      </button>
    </tui-aside-group>
    <tui-aside-group>
      <button
        automation-id="forms-link"
        iconStart="@tui.list-checks"
        tuiAsideItem
        tuiChevron
        type="button"
      >
        Forms
        <ng-template>
          <button
            tuiAsideItem
            type="button"
            routerLink="./forms/form-field-description"
          >
            Form field concept
          </button>
          <button
            tuiAsideItem
            type="button"
            routerLink="./forms/simple-form"
          >
            Simple form
          </button>
          <button
            tuiAsideItem
            type="button"
            routerLink="./forms/composite"
          >
            Composite form
          </button>
          <button
            tuiAsideItem
            type="button"
            routerLink="./forms/step-by-step"
          >
            Step by step form
          </button>
        </ng-template>
      </button>
    </tui-aside-group>
    <tui-aside-group>
      <button
        automation-id="forms-generation-link"
        iconStart="@tui.list-checks"
        tuiAsideItem
        tuiChevron
        type="button"
      >
        Forms generation
        <ng-template>
          <button
            tuiAsideItem
            type="button"
            routerLink="./forms-generation/simple-form"
          >
            Simple form
          </button>
        </ng-template>
      </button>
    </tui-aside-group>
    <tui-aside-group>
      <button
        automation-id="tables-link"
        iconStart="@tui.table"
        tuiAsideItem
        tuiChevron
        type="button"
      >
        Tables
        <ng-template>
          <button
            tuiAsideItem
            type="button"
            routerLink="./tables/default"
          >
            Paginated table
          </button>
          <button
            tuiAsideItem
            type="button"
            routerLink="./tables/infinite"
          >
            Infinite table
          </button>
        </ng-template>
      </button>
    </tui-aside-group>
    <hr>
    <footer>
      <button
        tuiAsideItem
        type="button"
        [iconStart]="expanded ? '@tui.chevron-left' : '@tui.chevron-right'"
        (click)="expanded = !expanded"
      >
        {{ expanded ? 'Collapse' : 'Expand' }}
      </button>
    </footer>
  </aside>
  <main class="content" [style.flex-grow]="1">
    <router-outlet/>
  </main>
</div>
