<div [formGroup]="formGroup">
  <!-- EXAMPLE: Without variant directive -->
  <aff-select
    class="tui-form__row"
    formControlName="paymentMethod"
    [items]="paymentMethodOptions"
    [identityMatcher]="selectIdentityMatcher"
  >
    Payment methodss
  </aff-select>

  <!-- EXAMPLE: Variant directive - hint -->
  <!--  <aff-select-->
  <!--    class="tui-form__row"-->
  <!--    formControlName="paymentMethod"-->
  <!--    [items]="paymentMethodOptions"-->
  <!--    [identityMatcher]="selectIdentityMatcher"-->
  <!--    optionWithHint-->
  <!--  >-->
  <!--    Payment methodss-->
  <!--  </aff-select>-->

  <!-- EXAMPLE: Variant directive - tooltip -->
  <!--  <aff-select-->
  <!--    class="tui-form__row"-->
  <!--    formControlName="paymentMethod"-->
  <!--    [items]="paymentMethodOptions"-->
  <!--    [identityMatcher]="selectIdentityMatcher"-->
  <!--    optionWithTooltip-->
  <!--  >-->
  <!--    Payment methodss-->
  <!--  </aff-select>-->

  <!-- EXAMPLE: Mapper functions-->
  <!-- <aff-select
    class="tui-form__row"
    formControlName="paymentMethod"
    [items]="paymentMethodOptions"
    [identityMatcher]="selectIdentityMatcher"
    optionWithHint
    [labelFormatter]="labelGetter"
    [hintFormatter]="hintGetter"
  >
    Payment methodss
  </aff-select> -->

  <!-- EXAMPLE: Template -->
  <!-- <aff-select
    class="tui-form__row"
    formControlName="paymentMethod"
    [items]="paymentMethodOptions"
    [identityMatcher]="selectIdentityMatcher"
    [itemContent]="content"
  >
    Payment methodss
  </aff-select>
  <ng-template #content let-data>
    <aff-option-content-with-hint-template
      [label]="data.label"
      [hint]="data.hint"
    ></aff-option-content-with-hint-template>
  </ng-template> -->

  <ng-container *ngIf="formGroup.get('cashCount')?.enabled">
    <aff-number class="tui-form__row" formControlName="cashCount"
      >Cash count</aff-number
    >
  </ng-container>
</div>
