<div [formGroup]="formGroup">
  <aff-select class="tui-form__row"
              formControlName="paymentMethod"
              [items]="paymentMethodOptions"
              [itemContent]="content"
  >
    Payment method
  </aff-select>
  <ng-template #content let-data>
    <aff-with-hint-option-template [label]="data.label" [hint]="data.hint"></aff-with-hint-option-template>
  </ng-template>

  <div class="tui-form__row" *ngIf="formGroup.get('cashCount')?.enabled">
    <aff-number formControlName="cashCount">Cash count</aff-number>
  </div>
</div>
