<div [formGroup]="formGroup">
  <div class="tui-form__row tui-form__row_multi-fields">
    <aff-combobox
      class="tui-form__multi-field"
      formControlName="address"
      affComboboxComplex
      (addClicked)="addClicked()"
      [dataProvider]="addressDataProvider"
      [stringify]="addressStringify"
    >
<!--      optionWithHint-->
<!--      withAddButton-->
      address
    </aff-combobox>
    <aff-input class="tui-form__multi-field" formControlName="entrance"
      >entrance</aff-input
    >
  </div>
  <div class="tui-form__row tui-form__row_multi-fields">
    <aff-input class="tui-form__multi-field" formControlName="floor"
      >floor</aff-input
    >
    <aff-input class="tui-form__multi-field" formControlName="appartament"
      >appartament</aff-input
    >
    <aff-input class="tui-form__multi-field" formControlName="code"
      >code</aff-input
    >
  </div>
  <aff-textarea class="tui-form__row" formControlName="comment"
    >Type a comment</aff-textarea
  >
</div>
