<header tuiNavigationHeader>
  <button
    title="Menu"
    tuiIconButton
    tuiNavigationDrawer
    type="button"
    [(open)]="open"
  >
    <tui-data-list>
      <tui-opt-group
        *ngFor="let group of drawer | keyvalue"
        [label]="group.key"
      >
        <button
          *ngFor="let item of group.value"
          tuiOption
          type="button"
          (click)="open = false"
        >
          <img
            alt="icon"
            [src]="item.icon"
          />
          {{ item.name }}
        </button>
      </tui-opt-group>
      <tui-opt-group>
        <label tuiOption>
          <input
            size="s"
            tuiSwitch
            type="checkbox"
            [(ngModel)]="switch"
          />
          Dark mode
        </label>
      </tui-opt-group>
    </tui-data-list>
  </button>
  <span tuiNavigationLogo>
        <tui-icon icon="@tui.home" />
        <span tuiFade>A very very long product name</span>
        <tui-badge>Test</tui-badge>
    </span>
  <button
    appearance="secondary-grayscale"
    tuiButton
    tuiChevron
    tuiDropdownOpen
    type="button"
    [tuiDropdown]="products"
  >
    <span tuiFade>A very very long project</span>
    <ng-template #products>
      <tui-data-list size="s">
        <button
          tuiOption
          type="button"
        >
          A very very long project
          <tui-icon
            icon="@tui.check"
            [style.font-size.em]="1"
            [style.margin-left.rem]="0.5"
          />
        </button>
        <button
          tuiOption
          type="button"
        >
          Something else
        </button>
      </tui-data-list>
    </ng-template>
  </button>
  <hr />
  <button
    appearance="secondary-grayscale"
    iconStart="@tui.plus"
    tuiButton
    type="button"
  >
    Create
  </button>
  <button
    iconStart="@tui.bell"
    tuiIconButton
    type="button"
  >
    Notifications
    <tui-badge-notification />
  </button>
  <button
    iconStart="@tui.ellipsis"
    tuiIconButton
    type="button"
  >
    More
  </button>
  <tui-avatar src="AI" />
</header>
<div
  [style.height.%]="100"
  [style.display]="'flex'"
>
  <aside [tuiNavigationAside]="expanded">
    <header>
      <button
        iconStart="@tui.home"
        tuiAsideItem
        type="button"
      >
        <span tuiFade>A very very long product name</span>
      </button>
    </header>
    <tui-aside-group>
      <button
        automation-id="forms-link"
        iconStart="@tui.list-checks"
        tuiAsideItem
        tuiChevron
        type="button"
      >
        Forms
        <ng-template>
          <button
            tuiAsideItem
            type="button"
            routerLink="./forms/composite"
          >
            Composite form
          </button>
          <button
            tuiAsideItem
            type="button"
            routerLink="./forms/step-by-step"
          >
            Step by step form
          </button>
        </ng-template>
      </button>
    </tui-aside-group>
    <tui-aside-group>
      <button
        automation-id="tables-link"
        iconStart="@tui.table"
        tuiAsideItem
        tuiChevron
        type="button"
      >
        Tables
        <ng-template>
          <button
            tuiAsideItem
            type="button"
            routerLink="./tables/default"
          >
            Default table
          </button>
        </ng-template>
      </button>
    </tui-aside-group>
    <footer>
      <button
        iconStart="@tui.star"
        tuiAsideItem
        type="button"
      >
        Favorites
      </button>
      <button
        tuiAsideItem
        type="button"
        [iconStart]="expanded ? '@tui.chevron-left' : '@tui.chevron-right'"
        (click)="expanded = !expanded"
      >
        {{ expanded ? 'Collapse' : 'Expand' }}
      </button>
    </footer>
  </aside>
  <main [style.flex-grow]="1">
    <router-outlet/>
  </main>
</div>
