<tui-combo-box
  [formControl]="control"
  [identityMatcher]="identityMatcher"
  [valueContent]="valueContent"
  [stringify]="stringify"
  (searchChange)="search$.next($event)"
>
  <ng-content></ng-content>
  <input
    tuiTextfield
    [placeholder]="placeholder"
  />
  <tui-data-list-wrapper
    *tuiDataList
    [items]="items"
    [itemContent]="itemContent"
  ></tui-data-list-wrapper>
</tui-combo-box>

<tui-error
  [formControl]="control"
  [error]="[] | tuiFieldError | async"
></tui-error>
