<tui-combo-box
  [formControl]="control"
  [identityMatcher]="identityMatcher"
  [valueContent]="valueContent"
  [stringify]="stringify"
  (searchChange)="search$.next($event)"
>
  <ng-content></ng-content>

  <input tuiTextfieldLegacy [placeholder]="placeholder" />

  <div *tuiDataList>
    <ng-container *ngIf="!!dropdownContent; else defaultTmpl">
      <div *polymorpheusOutlet="dropdownContent; context: context"></div>
    </ng-container>
  </div>
</tui-combo-box>

<tui-error
  [formControl]="control"
  [error]="[] | tuiFieldError | async"
></tui-error>

<ng-template #defaultTmpl>
  <tui-data-list-wrapper
    [items]="items"
    [itemContent]="itemContent"
  ></tui-data-list-wrapper>
</ng-template>
